#include "Res.h"

IDC_MAIN_MENU MENU
BEGIN
    POPUP "&File"
    BEGIN
		MENUITEM SEPARATOR
        MENUITEM "E&xit",                IDM_EXIT
    END

	POPUP "&Tool"
	BEGIN
		MENUITEM "Select &Port",		IDM_TOOL_SELECT
		MENUITEM SEPARATOR
		MENUITEM "Star&t",				IDM_TOOL_START
		MENUITEM "Sto&p",				IDM_TOOL_STOP
		MENUITEM SEPARATOR
		MENUITEM "C&lear",				IDM_TOOL_CLEAR
	END

    POPUP "&Help"
    BEGIN
        MENUITEM "&About ...",           IDM_ABOUT
    END
END

IDD_SELECT DIALOGEX 10, 10, 120, 150
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Select port"
FONT 8, "MS Shell Dlg"
BEGIN
	LISTBOX			IDC_PORTLIST, 5, 7, 110, 125, WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_EX_CLIENTEDGE
    DEFPUSHBUTTON   "OK", IDOK, 35, 130, 50, 14, WS_GROUP
END

